*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul, ol, li{
    list-style: none;
}


.container_nav{
    display: flex;
    gap: 30px;
    padding: 20px;
    align-items: center;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.item1 {
    flex-grow: 1;
}

.container_back{
    background-color: rgb(136, 200, 243);
    display: flex;
    justify-content: center;
}

.container_big{
    max-width: 1196px;
    display: flex;
}

.container_small{
    max-width: 1002px;
    margin: 0 auto;
    justify-content: center;
}

.buttons_blu{
    background-color: rgb(0, 81, 255);
    padding: 8px 15px;
    color: white;
    display: inline-block
}

.hero{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

.hero_row{
    display: flex;
    position: relative;
}

.title_row{
    width: 100%;

}

.title{
    max-width: 1196px;
    font-size: 100px;
    padding: 70px 30px;
}

.options_radio{
    display: flex;
    gap: 8px;
}

.buttons_prova{
    width: 60%;
    padding: 10px;
    background-color: rgb(0, 81, 255);
    color: white;
    border: none;
}

.search{
    font-size: 45px;
}

.col1{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.col2{
    width: 70%;
}

.options_row{
    display: flex;
    gap: 40px;
}

.col3{
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 3);
    border: 1px solid grey;
}

.box_title{
    justify-content: center;

}

.options{
    line-height: 2;
}

.fa-arrow-down{
    font-size: 40px;
}

.fa-solid{
    align-self: center;
}

.box_title{
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-bottom: 1px solid grey;

}


.text_blue{
    text-decoration: underline;
    color: blue;
}

.line{
    color: grey;
    width: 50px;
}

.arrow{
    color: blue;
    font-size: 22px;
}

.box_contain1{
    padding: 30px;
}

.col4{
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 1) ;
    border: 1px solid grey;
}

.row_2{
    display: flex;
}


.buttons_blu_flex{
    align-self: flex-end;
    background-color: rgb(0, 81, 255);
    padding: 8px 15px;
    color: white;
    display: inline-block;
    width: 250px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    
}

.box_body4{
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.title_body4{
    padding-bottom: 40px;
}

.body_price{
    font-weight: bold;
}

.body_date{
    color: grey;
}

.pub2{
    display: flex;

}

.img2{
    flex-basis: 60%;
}

.text2{
    padding: 50px;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.title_pub2{
    font-size: 28px;
    padding-bottom: 20px;
}

.text_pub2{
    font-size: 20px;
    padding-bottom: 20px;
}

.buttons2{
    text-align: center;
    font-size: 25px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 12px 15px;
    margin-left: 0px;
}

.pub3_row{
    display: flex;
}

.card{
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 3);
    padding: 20px;
}

.card_title{
    font-size: 28px;
    padding-bottom: 30px;

}

.card_text{

    font-size: 20px;

}

.pub3_title{
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 50px;
}

.pubusers{
    margin-bottom: 200px;
}

.title_users{
    padding-top: 180px;
    padding-left: 20px;
    padding-bottom: 60px;
    font-size: 42px;
    width: 600px;
    line-height: 1.3em;
    
}

.link{
    padding-left: 20px;
    padding-bottom: 300px;
    font-size: 21px;
    color: blue;
}

.carousel{
    display: flex;
}

.row_carousel{
    display: flex;
    max-width: 100%;
}

.col4{
    aspect-ratio: 1/1;
    flex-basis: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;


}

.card_1{
    display: flex;
    flex-direction: column;
    gap: 50px;
    aspect-ratio: 1/1;
    flex-basis: calc(100% / 3);
    font-size: 25px;

}


.imglogo{
    padding: 25px;
    filter: invert(1);
}

.logocar{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tryfree{
    display: flex;
}

.tryfree_title{
    flex-basis: 60%;
    font-size: 30px;
    max width: 150px;
}

.tryfree_buttons{
    flex-basis: 40%;
}

.logo1{
    background-color: green;
}

.logo2{
    background-color: brown;
}

.logo3{
    background-color: cornflowerblue;
}

.logo4{
    background-color: red;
}

.logo5{
    background-color: crimson;
}

.logo6{
    background-color: lightblue;
}

.logo7{
    background-color: blue;
}

.logo8{
    background-color: gold;
}
